name: Upload Python Package

on:
  workflow_run:
    workflows: ["Test Python Package"]
    types:
      - completed

    push:
      branches:
        - master
        - refactor
      tags:
        - release/*

permissions:
  contents: read

jobs:
  deploy:
    if: github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install -U pip poetry
    - name: Build package
      run: poetry build

    - name: Extract version
      id: extract_version
      shell : bash
      run: echo "##[set-output name=version;]$(echo poetry version | awk '{print $2}')"

    - name: Publish to TestPypi
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.TEST_PYPI_API_KEY }}
        repository_url: https://test.pypi.org/legacy/

    - name: Test Python Package
      run: |
          pip install \
          --index-url https://test.pypi.org/simple/ \
          --extra-index-url https://pypi.org/simple \
          telewrap=={{ steps.extract_version.outputs.version }}
